@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden; /* Ini akan memaksa scrollbar hilang total dari browser */
  height: 100%;
  width: 100%;
}

/* FLEET PAGE */
.fleet-container {
  padding: 20px;
  font-family: sans-serif;
}

.fleet-navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fleet-menu span {
  margin-right: 15px;
  cursor: pointer;
}

.fleet-active {
  font-weight: bold;
}

.fleet-title {
  margin-bottom: 15px;
}

.fleet-grid {
  display: flex;
  gap: 10px;
}

.fleet-card {
  padding: 20px;
  background: #eee;
  border-radius: 8px;
}

.fleet-card-active {
  padding: 20px;
  background: lightgreen;
  border-radius: 8px;
}